extends layoutsesion2

block principal
    .container-fluid
                .row.padding 
                    .col-xs-12.col-sm-12.col-md-6.col-lg-4.col-xl-4.animated.slideInLeft.shadow-sm.card.mt-3    
                        
                        h2.text-center Agrega una alerta.
                        form(action="agregarAlertas" method="post")
                            .form-row
                                .col-12
                                    label(for="Alumno") Selecciona el alumno
                                    select(name="Alumno").form-control
                                        each alumno in alumnos
                                            option(value=alumno._id)= alumno.Nombre+ ' ' +alumno.Apellido_P
                                .col-12
                                    label(for="Titulo") Título de la alerta
                                    input(type="text", name="Titulo").form-control
                                .col-12
                                    label(for="Descripcion") Información extra
                                    textarea(name="Descripcion", cols="30", rows="2", maxlength="150").form-control
                                .col-6
                                    label(for="FechaInicio") Fecha en que inicia
                                    input(type="date", name="FechaInicio").form-control
                                .col-6
                                    label(for="FechaFin") Fecha en que termina
                                    input(type="date", name="FechaFin").form-control
                                .col-12
                                    input(type="hidden", name="Correo",value= Maestro.Correo)
                                    br
                                    button(type="submit").btn.btn-block.btn-primary Enviar
                                    br
                    each anuncio in alertas
                            .col-xs-12.col-sm-12.col-md-6.col-lg-4.col-xl-4.animated.slideInRight.text-center          
                                .card.shadow-sm.mt-3
                                    .card-body
                                        .card-title
                                            p.lead Para: #[b= anuncio.alumno.Nombre+" "+anuncio.alumno.Apellido_P]
                                        .card-text
                                            p='Título: '+anuncio.Titulo
                                            p= "Información: "+anuncio.Descripcion
                                        .card-text
                                            p= 'Fecha de inicio: '+ anuncio.FechaInicio.getDate()+'/'+[anuncio.FechaInicio.getMonth() +1] +'/'+anuncio.FechaInicio.getFullYear()
                                            p.text-danger= 'Fecha a finalizar: '+ anuncio.FechaFin.getDate()+'/'+[anuncio.FechaFin.getMonth()+1] +'/'+anuncio.FechaFin.getFullYear()
                                        .card-text
                                            form(action="/maestro/borrarAlerta", method="post")
                                                .form-row
                                                    input(type="hidden", name="id", value= anuncio._id)
                                                    .col
                                                        a(href="#")
                                                            button(type='button').btn-sm.btn-success Editar
                                                    .col
                                                        button(type="submit").btn-sm.btn-danger Eliminar
                                

                    else
                        .col-xs-12.col-sm-12.col-md-6.col-lg-8.col-xl-8.animated.slideInRight.text-center.mt-3         
                                h2 Ninguna alerta activa.
                                i.fa.fa-grin-alt.display-1
                    